@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
.user-search, .user-message, #timezone {
  padding: 1rem;
  width: 100%;
  background-color: #fbfbfb;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: .5rem 0; }
  .user-search::placeholder, .user-message::placeholder, #timezone::placeholder {
    color: #a7a7a7; }

.members .member-img, .activities .activity .member-img {
  width: 3rem;
  height: 3rem;
  margin: .5rem; }

.icon-bell {
  width: 2rem;
  fill: #fff;
  height: 2rem;
  margin: auto 0;
  margin-right: 1rem; }
  @media (min-width: 769px) {
    .icon-bell {
      width: 1.5rem; } }

.filter_btn {
  color: #fff;
  background-color: #96e2ae;
  border-radius: 100px;
  padding: .5rem; }

.btn {
  padding: 1rem;
  display: inline-block;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold; }
  .btn:focus {
    outline: none; }
  .btn-lg {
    width: 90%; }
  .btn-md {
    width: 40%; }
  .btn-default {
    background-color: #7f5bbf; }
    .btn-default:hover {
      background-color: #8d6dc6; }
  .btn-abort {
    background-color: #a7a7a7; }
    .btn-abort:hover {
      background-color: #6a6969; }

.section-title {
  display: block;
  width: 100%;
  margin: 1rem 0;
  color: #9e9e9e;
  text-align: center;
  font-size: 1.3rem; }
  @media (min-width: 769px) {
    .section-title {
      text-align: left;
      font-size: 1rem; } }

.traffic .section-title {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.2rem; }
  @media (min-width: 769px) {
    .traffic .section-title {
      text-align: left;
      display: inline-block;
      width: 45%; } }

.user-message {
  height: 5rem; }

.email-notify, .profile-view {
  text-align: left;
  margin: 1rem; }
  .email-notify p, .profile-view p {
    display: inline-block;
    width: 80%;
    color: #a7a7a7;
    margin-bottom: 1rem; }
  .email-notify .ui-switcher, .profile-view .ui-switcher {
    margin: 0 auto; }

#timezone {
  color: #a7a7a7;
  width: 90%; }
  #timezone option {
    color: #000; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: Montserrat , sans-serif;
  text-align: center; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border-radius: 50%;
  width: 100%; }

@media (min-width: 769px) {
  .container {
    padding: 0 1rem; } }

@media (min-width: 769px) {
  .flex-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem; }
    .flex-wrapper > div {
      border: 1px solid #eee;
      padding: 0 1rem; } }

.main-header {
  background-color: #7f5bbf;
  width: 100%;
  padding: .5rem 1rem;
  display: flex; }
  @media (min-width: 769px) {
    .main-header {
      padding: 1rem; } }

.logo {
  float: left;
  color: #fff;
  font-size: 1rem;
  margin: auto 0;
  margin-right: auto; }
  .logo span {
    font-weight: 100; }

.user {
  border-left: 1px solid #a7a7a7;
  width: 50px;
  padding: auto 1rem; }
  @media (min-width: 769px) {
    .user {
      width: 170px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around; } }
  .user_name {
    display: none; }
    @media (min-width: 769px) {
      .user_name {
        display: inline-block;
        color: #fff;
        margin: auto; } }
  .user_picture {
    margin-left: .5rem; }
    @media (min-width: 769px) {
      .user_picture {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 20px; } }

.sidebar {
  background-color: #5a3a94;
  display: flex;
  justify-content: space-around; }
  .sidebar svg {
    fill: #fff;
    width: 3rem;
    height: 3rem;
    padding: .7rem 1rem; }
    .sidebar svg:active {
      fill: #96e2ae;
      transform: scale(1.3); }

.content_search {
  background-color: #eee;
  position: relative;
  padding: .5rem;
  color: #a7a7a7; }
  .content_search input {
    padding: 1rem;
    width: 100%;
    border: none;
    border-top: none;
    border-left: none;
    border-radius: 7px; }
    .content_search input::placeholder {
      font-size: 1rem;
      text-transform: capitalize;
      color: #a7a7a7; }
    @media (min-width: 769px) {
      .content_search input {
        width: 40%;
        margin-right: 3rem; } }
  .content_search .fas {
    position: absolute;
    top: 35%;
    right: 2rem; }
    @media (min-width: 769px) {
      .content_search .fas {
        right: 5rem; } }
  @media (min-width: 769px) {
    .content_search {
      float: right;
      width: 90%;
      border: 1px solid #a7a7a7;
      border-radius: 2px;
      text-align: right; } }

.dashboard_title {
  text-transform: capitalize;
  font-weight: bold;
  color: #6a6969;
  padding: 1.5rem 0;
  font-size: 1.5rem; }
  @media (min-width: 769px) {
    .dashboard_title {
      float: left;
      width: 8%;
      font-size: .8rem; } }

.dashboard_alert {
  clear: both;
  position: relative;
  margin: 1rem 0;
  border-radius: 5px;
  padding: 1rem;
  display: inline-block;
  background-color: #5a3a94;
  color: #fff; }
  @media (min-width: 769px) {
    .dashboard_alert {
      text-align: left;
      width: 100%;
      margin: 1rem 0; } }
  .dashboard_alert .fas {
    position: absolute;
    top: .5rem;
    right: 1rem;
    cursor: pointer; }
    @media (min-width: 769px) {
      .dashboard_alert .fas {
        top: 1.1rem; } }
  .dashboard_alert span {
    font-weight: bold;
    display: block;
    margin-bottom: 1rem; }
    @media (min-width: 769px) {
      .dashboard_alert span {
        display: inline-block;
        margin: 0 .5rem; } }

.traffic {
  width: 100%; }
  .traffic .filter {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    color: #9e9e9e; }
    .traffic .filter li {
      margin: auto;
      cursor: pointer; }
      @media (min-width: 769px) {
        .traffic .filter li {
          display: inline-block;
          margin: 0 1rem; } }
    @media (min-width: 769px) {
      .traffic .filter {
        text-align: right;
        display: inline-block;
        width: 50%; } }
  @media (min-width: 769px) {
    .traffic .graph {
      height: 200px; } }
  @media (min-width: 769px) {
    .traffic {
      padding: 2rem 0; } }

.chart div {
  border: 1px solid #eee;
  padding: 1rem 0; }

@media (min-width: 769px) {
  .chart {
    display: flex; }
    .chart div {
      flex: 1 40%;
      padding: 1rem; }
    .chart-bar {
      border-top: 1px solid #eee;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding-left: .5rem; }
    .chart-donut {
      padding-right: .5rem;
      border-top: 1px solid #eee;
      border-left: 1px solid #eee;
      border-bottom: 1px solid #eee; } }

.social-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .social-stats div {
    flex: 1 40%;
    padding: 1rem;
    background-color: #fbfbfb;
    border: 1px solid #eee; }
    @media (min-width: 769px) {
      .social-stats div {
        width: 30%;
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 1rem; } }
    .social-stats div svg {
      height: 4rem;
      width: 4rem;
      fill: #fff;
      stroke: #7f5bbf;
      background-color: #5a3a94;
      border-radius: 35px;
      padding: 1rem; }
      @media (min-width: 769px) {
        .social-stats div svg {
          width: 6rem;
          height: 5rem;
          border-radius: 100px; } }

.social-info {
  width: 100%;
  text-align: center; }
  .social-info-brand {
    display: block;
    color: #7f5bbf; }
  .social-info-numbers {
    display: block;
    font-size: 1.5rem;
    color: #a7a7a7; }
    @media (min-width: 769px) {
      .social-info-numbers {
        font-size: 3rem; } }

.members .member {
  border-bottom: 1px solid #eee;
  margin: 1rem 0;
  display: flex; }
  @media (min-width: 769px) {
    .members .member {
      height: 4rem; } }
  .members .member-info {
    margin: .5rem;
    position: relative;
    flex: 1 50%; }
    .members .member-info p {
      text-align: left;
      text-transform: capitalize; }
    .members .member-info a {
      display: block;
      text-align: left;
      margin-bottom: 1.5rem; }
    .members .member-info span {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #a7a7a7; }

.activities .activity {
  margin: 1rem 0;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
  display: flex;
  position: relative; }
  @media (min-width: 769px) {
    .activities .activity {
      height: 4rem;
      padding: 0; } }
  .activities .activity-info {
    margin: .5rem;
    color: #9e9e9e;
    text-align: left;
    width: 100%; }
    .activities .activity-info span {
      color: #6a6969;
      margin-right: 5px;
      font-weight: bold; }
  .activities .activity-time {
    display: block;
    font-size: .7rem;
    color: #a7a7a7;
    position: absolute;
    bottom: .2rem;
    right: .2rem; }
