.onoffswitch{
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &-checkbox{
    display: none;
    &:checked + .onoffswitch-label .onoffswitch-inner{
      margin-left: 0;
    }
    &:checked + .onoffswitch-label .onoffswitch-switch{
      right: 0;
    }
  }

  &-label{
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid;
    border-radius: 20px;
  }

  &-inner{
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin .3s ease-in 0s;
    &:after, &:before{
      display: block;
      float: left;
      width: 50%;
      height: 30px;
      padding: 0;
      line-height: 30px;
      font-size: 14px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box;
      &:after{
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
      }
    }
  }

  &-switch{
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid ;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }


}