.traffic{
  .section-title{
    display: inline-block;
    margin: 1rem 0;
    font-size: 1.2rem;
    @media (min-width: 769px){
      text-align: left;
      display: inline-block;
      width: 45%;
    }
  }
  width: 100%;
  .filter{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    color: $color-text-grey;
    li{
      margin: auto;
      cursor: pointer;
      @media (min-width: 769px) {
        display: inline-block;
        margin: 0 1rem;
      }
    }

    @media (min-width: 769px) {
      text-align: right;
      display: inline-block;
      width: 50%;
    }
  }

  .graph{
    @media (min-width: 769px){
      height: 200px;
    }
  }

  @media (min-width: 769px){
    padding: 2rem 0;
  }
}

.section-title{
  display: block;
  margin: 1rem 0;
  color: $color-text-grey;
  text-align: center;
  font-size: 1.3rem;
  @media(min-width: 769px){
    text-align: left;
    font-size: 1rem;
  }
}

.chart{
  div{
    border: 1px solid $color-grey;
    padding: 1rem 0;
  }
  @media (min-width: 769px){
  display: flex;
  div{
      flex: 1;
    padding: 1rem;
    }
    &-bar{
      border-top: 1px solid  $color-grey;
      border-right: 1px solid $color-grey;
      border-bottom: 1px solid $color-grey;
      padding-left: .5rem;
    }
    &-donut{
      padding-right: .5rem;
      border-top: 1px solid  $color-grey;
      border-left: 1px solid $color-grey;
      border-bottom: 1px solid $color-grey;
    }
  }
}

