.main-header{
  background-color: $color-primary;
  width: 100%;
  padding: .5rem 1rem;
  display: flex;
  @media (min-width: 769px){
    padding: .5rem;
  }
}

.logo{
  float: left;
  color: $color-white;
  font-size: 1rem;
  margin: auto 0;
  margin-right: auto;

  span{
    font-weight: 100;
  }
}

.user{
  border-left: 1px solid $color-dark-grey;
  width: 50px;

  @media (min-width: 769px) {
    width: 170px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  &_name{
    display: none;
    @media (min-width: 769px){
      display: inline-block;
      color: $color-white;
      margin: auto;
    }
  }
  &_picture{
    margin-left: .5rem;
    @media (min-width: 769px){
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin: auto;
    }
  }
}