.members{
  @media (min-width: 769px){
  }
  .member{
    border-bottom: 1px solid $color-grey;
    margin: 1rem 0;
    display: flex;
    @media (min-width: 769px){
      height: 4rem;
    }
    &-img{
      @extend %imageholder;
    }

    &-info{
      margin: .5rem;
      position: relative;
      flex: 1 50%;
      p{
        text-align: left;
        text-transform: capitalize;
      }
      a{
        display: block;
        text-align: left;
        margin-bottom: 1.5rem;
      }
      span{
        position: absolute;
        bottom: 0;
        right: 0;
        color: $color-dark-grey;
      }
    }
  }
}