.sidebar{
  background-color: $color-primary-dark;
  display: flex;
  justify-content: space-around;

  svg{
    fill: $color-white;
    width: 3rem;
    height: 3rem;
    padding: .7rem 1rem;
    &:active{
      fill: $color-secondary-light;
      transform: scale(1.3);
    }
  }
}